/* General structure */

body,
div,
nav
{
    margin: 0;
}

.col_container
{
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

.col_container.alignleft
{
    justify-content: flex-start;
}

.col_container.alignright
{
    justify-content: flex-end;
}

.col_container.marginless
{
    margin: -1.75rem auto;
}

.col_container > *
{
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.col1
{
    flex: 0 1 80px;
}

.col2
{
    flex: 0 1 160px;
}

.col3
{
    flex: 0 1 240px;
}

.col4
{
    flex: 0 1 320px;
}

.col5
{
    flex: 0 1 400px;
}

.col6
{
    flex: 0 1 480px;
}

.col7
{
    flex: 0 1 560px;
}

.col8
{
    flex: 0 1 640px;
}

.col9
{
    flex: 0 1 720px;
}

.col10
{
    flex: 0 1 800px;
}

.col11
{
    flex: 0 1 880px;
}

.col12
{
    flex: 0 1 960px;
}

.full_bleed,
.full_bleed > img
{
    width: 100%;
}


/* Typography */

body
{
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: rgb(60,54,63);
    font-family: 'Brando', sans-serif;
}

h1
{
    font-size: 4rem;
    line-height: 7rem;
    margin: 5.25rem 0 3.5rem;
    font-family: 'Brando Sans Light', sans-serif;
    font-weight: normal;
}

h2
{
    font-size: 2rem;
    line-height: 3.5rem;
    margin: 3.5rem 0 1.75rem;
    font-family: 'Brando', sans-serif;
    font-weight: normal;
}

p
{
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 1.75rem 0;
}

.sans_serif
{
    font-family: "Brando Sans Light";
}

.lining_numerals
{
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    -moz-font-variant-numeric: lining-nums;
    -webkit-font-variant-numeric: lining-nums;
    font-variant-numeric: lining-nums;
}


/* For small computers */

@media (max-width: 639px)
{
    html
    {
        font-size: 0.9rem;
    }
}


/* Miscellany */

a:any-link
{
    color: rgb(57,141,255);
    text-decoration: none;
}

a:any-link:hover
{
    text-decoration: underline;
}

a:any-link:active
{
    color: rgb(48,119,215);
}

a.blocklink
{
    display: block;
    margin: 1.75rem 0;
    padding: 3.5rem 1rem;
    position: relative;
}

a.blocklink:any-link:hover
{
    background-color: rgb(245,245,245);
    text-decoration: none;
}

a.blocklink:any-link:active
{
    background-color: rgb(237,237,237);
}

.blocklink > p
{
    margin: 0;
}

.blocklink.prev > p
{
    padding-left: 3rem;
}

.blocklink.next > p
{
    padding-right: 3rem;
    text-align: right;
}

.blocklink.prev > p:first-child::before
{
    content: "◀ ";
    display: block;
    position: absolute;
    left: 1.5rem;
    top: 50%;
    margin-top: -0.875rem;
}

.blocklink.next > p:last-child::after
{
    content: " ▶";
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    margin-top: -0.875rem;
}

ul,
ol
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p.faded, .faded a:any-link
{
    color: rgb(166,165,174);
}

.faded a:any-link:active, a.faded:any-link:active
{
    color: rgb(148,147,155);
}

/* Hero, nav, stuff at the top of the page */

#hero
{
    background-color: rgb(60,54,63);
    color: white;
}

#hero h1
{
    margin: 0;
}

#hero.with_image
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    overflow: hidden;
}

#hero_gradient
{
    background-image: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(60,54,63,0.35) 11rem,
        rgba(60,54,63,0.35) 100%
    );
    margin-top: 5.25rem;
    padding-top: 11rem;
}

#main_nav
{
    background-color: rgb(60,54,63);
    color: white;
}

#main_nav ul
{
    overflow: hidden;
}

#main_nav ul > li
{
    float: left;
}

#main_nav ul > li:first-child
{
    margin-left: -1rem;
}

#main_nav a
{
    display: inline-block;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0.875rem 1rem;
    color: white;
    font-family: 'Brando Sans Light';
    text-transform: uppercase;
}

#main_nav a:any-link:hover
{
    background-color: rgb(88,87,92);
    text-decoration: none;
}

