{% load static %}
{% load wagtailuserbar wagtailcore_tags wagtailimages_tags %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% if title_root %}ninepints{% else %}{% firstof title page.seo_title page.title %} - ninepints{% endif %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/brando.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/brandosans.css' %}"/>
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        {% wagtailuserbar %}

        <div class="parallax_container">
            <header id="hero"{% if page.hero_image %} class="with_image parallax_section"{% endif %}>
                {% if page.hero_image %}
                    {% image page.hero_image original as hero_image %}
                    <div id="hero_image" class="cover_img layer1" style="background-image: url({{ hero_image.url }})"></div>
                    <div id="hero_gradient" class="layer0">
                {% endif %}

                {% block hero_content %}
                    <div class="col_container">
                        <h1 class="col8">{% firstof hero_title title page.title "ninepints" %}</h1>
                    </div>
                {% endblock %}

                {% if page.hero_image %}
                    </div>
                {% endif %}
            </header>

            {% if page.hero_image %}
                <div class="parallax_section">
            {% endif %}

            <nav id="main_nav"><div class="col_container">
                <ul class="col8 bulletless">
                    <li><a href="{% pageurl request.site.root_page %}">Home</a></li>
                    <li><a href="{% slugurl 'about' %}">About</a></li>
                </ul>
            </div></nav>

            {% block content %}{% endblock %}

            {% if page.hero_image %}
                </div>
            {% endif %}
        </div>

        {% block extra_js %}{% endblock %}
    </body>
</html>
