{% load static %}
{% load wagtailuserbar wagtailcore_tags wagtailimages_tags %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %} - ninepints</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/brando.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/brandosans.css' %}">
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        {% wagtailuserbar %}

        {% if page.hero_image %}
            {% image page.hero_image original as hero_image %}
            <header id="hero" class="with_image" style="background-image: url({{ hero_image.url }})">
                <div id="hero_gradient">
        {% else %}
            <header id="hero">
        {% endif %}

        {% block hero_content %}
            <div class="col_container">
                <h1 class="col8">{{ page.title }}</h1>
            </div>
        {% endblock %}

        {% if page.hero_image %}
            </div>
        {% endif %}
        </header>

        <nav id="main_nav"><div class="col_container">
                <ul class="col8">
                    <li><a href="{% pageurl request.site.root_page %}">Home</a></li>
                    <li><a href="{% slugurl 'about' %}">About</a></li>
                </ul>
        </div></nav>

        {% block content %}{% endblock %}

        <script type="text/javascript" src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>
