{% load static %}
{% load wagtailuserbar wagtailcore_tags wagtailimages_tags %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %} - ninepints</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/brando.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/brandosans.css' %}">
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        {% wagtailuserbar %}

        {% if page.hero_image %}{% image page.hero_image original as hero_image %}{% endif %}

        <header id="hero"{% if page.hero_image %} class="with_image" style="background-image: url({{ hero_image.url }})"{% endif %}>
            <nav id="hero_nav">
                <ul class="content_edge">
                    <li><a href="{% pageurl request.site.root_page %}">Home</a></li>
                    <li><a href="{% slugurl 'about' %}">About</a></li>
                </ul>
            </nav>

            <div id="hero_gradient">
                {% block hero_content %}
                    <div class="content_edge">
                        <h1>{{ page.title }}</h1>
                    </div>
                {% endblock %}
            </div>
        </header>

        {% block content %}{% endblock %}

        <script type="text/javascript" src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>
