{% load static %}
{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% firstof title page.seo_title page.title %} - ninepints{% endblock %}</title>

        <meta name="viewport" content="width=device-width">

        <link rel="alternate" type="application/atom+xml" href="{% routablepageurl request.site.root_page.specific 'feed' %}"/>

        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}"/>
        {% block extra_css %}{% endblock %}
    </head>

    <body class="parallax_container">
        {% block header %}{% endblock %}

        {% block parallax_section_start %}<div class="parallax_section">{% endblock %}

        {% block nav %}
            <nav id="main_nav" class="{% block nav_class %}{% endblock %}"><div class="col_container">
                <ul class="col12 bulletless">
                    {% block nav_content %}
                        <li><a href="{% pageurl request.site.root_page %}" class="blocklink sans_serif">Home</a></li>
                        <li><a href="{% slugurl 'about' %}" class="blocklink sans_serif">About</a></li>
                        <li><a href="{% routablepageurl request.site.root_page.specific 'feed' %}" class="blocklink sans_serif">Feed</a></li>
                    {% endblock %}
                </ul>
            </div></nav>
        {% endblock %}

        {% block content %}{% endblock %}

        {% block parallax_section_end %}</div>{% endblock %}

        {% block extra_js %}{% endblock %}
    </body>
</html>
