{% extends 'base.html' %}

{% load static %}
{% load wagtailuserbar wagtailimages_tags %}

{% block title %}{% firstof title page.seo_title page.title %} - ninepints{% endblock %}

{% block header %}
    {% if page.hero_image %}
        {% with page.hero_image as hero %}
            <header class="parallax_section" id="hero">
                <div id="hero_image"
                    class="layer{{ hero.add_parallax|yesno:'1,0' }} bg_media {{ hero.repeat }} {{ hero.position }}"
                    style="background-image: url({% if hero.wagtail_image %}{% image hero.wagtail_image original as rendition %}{{ rendition.url }}{% elif hero.svg_image %}{{ hero.svg_image.url }}{% endif %})">
                </div>
                <div class="layer0">
        {% endwith %}
    {% else %}
        <header class="parallax_section">
    {% endif %}

    {% block header_content %}
        <div class="col_container">
            <h1 class="col12">{% firstof hero_title title page.title %}</h1>
        </div>
    {% endblock %}

    {% if page.hero_image %}
        </div>
    {% endif %}
    </header>
{% endblock %}

{% block nav_class %}{{ block.super }}{% if page.hero_image %} darkmode{% endif %}{% endblock %}

{% block extra_js %}{% wagtailuserbar %}{% endblock %}
