{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block title %}{{ title }}{% endblock %}

{% block hero_content %}
    <div class="col_container">
        <h1 class="col8">{{ title }}</h1>
    </div>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article>
            <div class="col_container marginless">
                <h2 class="col8"><a href="{% pageurl post %}">{{ post.title }}</a></h2>
            </div>
            {% if full_posts %}
                {% include "blog/post_body.html" %}
                {% include "blog/post_meta.html" %}
            {% else %}
                <div class="col_container"><div class="col8">
                    {{ post.first_text_block }}
                </div></div>
                {% include "blog/post_meta.html" %}
            {% endif %}
        </article>
    {% endfor %}

    <div class="col_container marginless">
        {% if prev_page_url %}
            <a class="col4 blocklink prev" href="{{ prev_page_url }}">
                <p>Newer posts</p>
            </a>
        {% else %}
            <div class="col4"></div>
        {% endif %}
        {% if next_page_url %}
            <a class="col4 blocklink next" href="{{ next_page_url }}">
                <p>Older posts</p>
            </a>
        {% else %}
            <div class="col4"></div>
        {% endif %}
    </div>
{% endblock %}
