{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block extra_js %}
    {% if any_post_contains_math %}
        {% include "mathjax.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article>
            <div class="col_container marginless">
                <h2 class="col8 sans_serif"><a href="{% pageurl post %}">{{ post.title }}</a></h2>
            </div>
            {% if full_posts %}
                {% include "blog/post_body.html" %}
                {% include "blog/post_meta.html" %}
            {% else %}
                <div class="col_container marginless"><div class="col8">
                    {% with post.first_text_block as first_block %}
                        {% if first_block %}
                            {% include_block first_block %}
                        {% else %}
                            <p class="faded sans_serif marginless">No text content</p>
                        {% endif %}
                    {% endwith %}
                </div></div>
                {% include "blog/post_meta.html" %}
            {% endif %}
        </article>
    {% empty %}
        <h2 class="faded center sans_serif">No posts to show</h2>
    {% endfor %}

    <div class="col_container marginless">
        {% if prev_page_url %}
            <a class="col4 blocklink prev" href="{{ prev_page_url }}">
                <p>Newer posts</p>
            </a>
        {% else %}
            <div class="col4"></div>
        {% endif %}
        {% if next_page_url %}
            <a class="col4 blocklink next" href="{{ next_page_url }}">
                <p>Older posts</p>
            </a>
        {% else %}
            <div class="col4"></div>
        {% endif %}
    </div>
{% endblock %}
