{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}

{% block extra_css %}
    {{ block.super }}
    {% if page.contains_code %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}"/>
    {% endif %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% if page.contains_math %}{% include "mathjax.html" %}{% endif %}
{% endblock %}

{% block content %}
    <article>
        {% include "blog/post_body.html" with post=page %}
        {% include "blog/post_meta.html" with post=page %}
    </article>
    <div class="col_container marginless">
        {% if page.next_post %}
            <a class="col4 blocklink prev" href="{% pageurl page.next_post %}">
                <p>Next:</p><p>{{ page.next_post.title }}</p>
            </a>
        {% else %}
            <div class="col4"></div>
        {% endif %}
        {% if page.prev_post %}
            <a class="col4 blocklink next" href="{% pageurl page.prev_post %}">
                <p>Previously:</p><p>{{ page.prev_post.title }}</p>
            </a>
        {% else %}
            <div class="col4"></div>
        {% endif %}
    </div>
{% endblock %}
