{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    {% for post in posts %}
        <article>
            <div class="col_container marginless">
                <h2 class="col8"><a href="{% pageurl post %}">{{ post.title }}</a></h2>
            </div>
            {% if full_posts %}
                {% include "blog/post_body.html" %}
            {% else %}
                <div class="col_container"><div class="col8">
                    {{ post.first_text_block }}
                </div></div>
            {% endif %}
        </article>
    {% endfor %}
{% endblock %}
