/* General structure */

body,
div,
nav
{
    margin: 0;
}

.parallax_section
{
    background-color: white;
}

.layer0
{
    z-index: 0;
}

.layer1
{
    z-index: -1;
}

.layer2
{
    z-index: -2;
}

.layer3
{
    z-index: -3;
}

.layer4
{
    z-index: -4;
}

.col_container
{
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

.col_container.alignleft
{
    justify-content: flex-start;
}

.col_container.alignright
{
    justify-content: flex-end;
}

.col_container.marginless
{
    margin: -1.75rem auto;
}

.col_container.margincollapsable + .col_container.margincollapsable
{
    margin: -1.75rem auto 0;
}

.col_container > *
{
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    box-sizing: border-box;
}

.col1
{
    flex: 0 1 80px;
}

.col2
{
    flex: 0 1 160px;
}

.col3
{
    flex: 0 1 240px;
}

.col4
{
    flex: 0 1 320px;
}

.col5
{
    flex: 0 1 400px;
}

.col6
{
    flex: 0 1 480px;
}

.col7
{
    flex: 0 1 560px;
}

.col8
{
    flex: 0 1 640px;
}

.col9
{
    flex: 0 1 720px;
}

.col10
{
    flex: 0 1 800px;
}

.col11
{
    flex: 0 1 880px;
}

.col12
{
    flex: 0 1 960px;
}


/* Typography */

body
{
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: hsl(280, 8%, 23%);
    font-family: 'Brando', serif;
    font-weight: normal;

    font-variant-numeric: lining-nums;
}

h1
{
    font-size: 4rem;
    line-height: 5.25rem;
    margin: 5.25rem 0 3.5rem;
    font-family: 'Brando Sans Semi Bold', sans-serif;
    font-weight: normal;
}

h2
{
    font-size: 2rem;
    line-height: 3.5rem;
    margin: 3.5rem 0 1.75rem;
    font-family: 'Brando', serif;
    font-weight: normal;
}

h3
{
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin: 1.75rem 0;
    font-family: 'Brando', serif;
    font-weight: bold;
}

p
{
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 1.75rem 0;
    font-weight: normal;
}

pre,
code
{
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Menlo', monospace;
    font-weight: normal;
    background-color: hsl(280, 6%, 95%);
    padding: 0.25rem;
}

.pre_container pre,
.pre_container code
{
    font-size: 0.75rem;
    line-height: 0.875rem;
    background-color: transparent;
    padding: 0;
}

.sans_serif
{
    font-family: 'Brando Sans Light', sans-serif;
}


/* Miscellanous element styles */

a:any-link
{
    color: hsl(215, 100%, 61%);
    text-decoration: none;
}

a:any-link:hover
{
    text-decoration: underline;
}

a:any-link:active
{
    color: hsl(215, 100%, 55%);
}

a.blocklink:any-link:hover
{
    background-color: hsl(280, 6%, 97%);
    text-decoration: none;
}

a.blocklink:any-link:active
{
    background-color: hsl(280, 6%, 95%);
}

ul,
ol
{
    margin: 1.75rem 0;
    padding-left: 3rem;
}

ul.bulletless,
ol.bulletless
{
    margin: 0;
    list-style-type: none;
}

ul.bulletless:not(.col_container > *),
ol.bulletless:not(.col_container > *)
{
    padding: 0;
}

.faded,
.faded a:any-link
{
    color: hsl(247, 5%, 66%);
}

.faded a:any-link:active,
a.faded:any-link:active
{
    color: hsl(247, 5%, 60%);
}

pre
{
    display: inline-block;
    margin: 1.75rem 0;
}

.pre_container
{
    overflow-x: scroll;
}

.center
{
    text-align: center;
}

.marginless
{
    margin: 0;
}

.padded
{
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

.cover_img
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
}


/* Hero/header, nav, stuff at the top of the page */

header h1
{
    margin-bottom: 0;
}

#hero
{
    position: relative;
    color: white;
    background-color: transparent;
    display: flex;
    flex-direction: column-reverse;
    min-height: 60vh;
}

#hero h1
{
    margin-top: 0;
}

#hero_image
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#hero_gradient
{
    background-image: linear-gradient(
        to bottom,
        transparent 0%,
        hsla(280, 8%, 23%, 0.35) 11rem,
        hsla(280, 8%, 23%, 0.35) 100%
    );
    margin-top: -11rem;
    padding-top: 11rem;
    width: 100%;
}

#main_nav ul
{
    overflow: hidden;
}

#main_nav ul > li
{
    float: left;
}

#main_nav ul > li:first-child
{
    margin-left: -1rem;
}

#main_nav a
{
    display: inline-block;
    padding: 0.875rem 1rem;
}

#main_nav a:any-link:hover
{
    text-decoration: none;
}

#main_nav.with_hero
{
    background-color: hsl(280, 8%, 23%);
}

#main_nav.with_hero a
{
    color: white;
}

#main_nav.with_hero a:any-link:hover
{
    background-color: hsl(280, 6%, 32%);
}

#main_nav.with_hero a:any-link:active
{
    color: hsl(0, 0%, 88%);
    background-color: hsl(280, 6%, 30%);
}


/* Pagination, stuff at the bottom of the page */

a.pagination
{
    display: block;
    padding: 1.75rem 1rem;
    position: relative;
}

.pagination > p
{
    margin: 0;
}

.pagination.prev > p
{
    padding-left: 2rem;
}

.pagination.next > p
{
    padding-right: 2rem;
    text-align: right;
}

.pagination.prev > p:first-child::before
{
    content: '‹ ';
    display: block;
    position: absolute;
    left: 1.5rem;
    top: 50%;
    margin-top: -0.875rem;
}

.pagination.next > p:last-child::after
{
    content: ' ›';
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    margin-top: -0.875rem;
}

/* Colored sections */

.section_lightgray > .col_container > *
{
    background-color: hsl(280, 6%, 95%);
}


/* Media queries (for small computers) */

@media (max-width: 639px)
{
    html
    {
        font-size: 0.9rem;
    }
}

@media (max-width: 359px)
{
    html
    {
        font-size: 0.85rem;
    }
}

@supports ((perspective: 160px) and (not (-webkit-overflow-scrolling: touch)))
{
    .parallax_container
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        perspective: 160px;
        perspective-origin: 100% 0%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .parallax_section
    {
        position: relative;
        transform: translateZ(0);
        transform-style: preserve-3d;
    }

    .layer0
    {
        transform-origin: 100% 0%;
        transform: translateZ(0);
    }

    .layer1
    {
        transform-origin: 100% 0%;
        transform: translateZ(-40px) scale(1.25);
    }

    .layer2
    {
        transform-origin: 100% 0%;
        transform: translateZ(-80px) scale(1.5);
    }

    .layer3
    {
        transform-origin: 100% 0%;
        transform: translateZ(-160px) scale(2.0);
    }

    .layer4
    {
        transform-origin: 100% 0%;
        transform: translateZ(-320px) scale(3.0);
    }
}
