/* CSS for Chris Kempson's "Tomorrow" theme
 * (https://github.com/chriskempson/tomorrow-theme),
 * adapted for Pygments by Moz Morris
 * (https://github.com/mozmorris/tomorrow-pygments)
 * and then painstakingly translated to custom properties by yours truly */

 html,
.lightmode
{
    --color-pygments-bg-highlight: #d6d6d6;
    --color-pygments-base: #4d4d4c;
    --color-pygments-comment: #8e908c;
    --color-pygments-error: #c82829;
    --color-pygments-keyword: #8959a8;
    --color-pygments-literal: #f5871f;
    --color-pygments-operator: #3e999f;
    --color-pygments-string: #718c00;
    --color-pygments-type: #eab700;
    --color-pygments-member: #4271ae;
}

.darkmode,
.inversecolormode
{
    --color-pygments-bg-highlight: #424242;
    --color-pygments-base: #eaeaea;
    --color-pygments-comment: #969896;
    --color-pygments-error: #d54e53;
    --color-pygments-keyword: #c397d8;
    --color-pygments-literal: #e78c45;
    --color-pygments-operator: #70c0b1;
    --color-pygments-string: #b9ca4a;
    --color-pygments-type: #e7c547;
    --color-pygments-member: #7aa6da;
}

@media (prefers-color-scheme: dark)
{
    html,
    .darkmode
    {
        --color-pygments-bg-highlight: #424242;
        --color-pygments-base: #eaeaea;
        --color-pygments-comment: #969896;
        --color-pygments-error: #d54e53;
        --color-pygments-keyword: #c397d8;
        --color-pygments-literal: #e78c45;
        --color-pygments-operator: #70c0b1;
        --color-pygments-string: #b9ca4a;
        --color-pygments-type: #e7c547;
        --color-pygments-member: #7aa6da;
    }

    .lightmode,
    .inversecolormode
    {
        --color-pygments-bg-highlight: #d6d6d6;
        --color-pygments-base: #4d4d4c;
        --color-pygments-comment: #8e908c;
        --color-pygments-error: #c82829;
        --color-pygments-keyword: #8959a8;
        --color-pygments-literal: #f5871f;
        --color-pygments-operator: #3e999f;
        --color-pygments-string: #718c00;
        --color-pygments-type: #eab700;
        --color-pygments-member: #4271ae;
    }
}

code .hll { background-color: var(--color-pygments-bg-highlight); }
pre > code { color: var(--color-pygments-base); }
code .c { color: var(--color-pygments-comment); } /* Comment */
code .err { color: var(--color-pygments-error); } /* Error */
code .k { color: var(--color-pygments-keyword); } /* Keyword */
code .l { color: var(--color-pygments-literal); } /* Literal */
code .n { color: var(--color-pygments-base); } /* Name */
code .o { color: var(--color-pygments-operator); } /* Operator */
code .p { color: var(--color-pygments-base); } /* Punctuation */
code .ch { color: var(--color-pygments-comment); } /* Comment.Hashbang */
code .cm { color: var(--color-pygments-comment); } /* Comment.Multiline */
code .cp { color: var(--color-pygments-comment); } /* Comment.Preproc */
code .cpf { color: var(--color-pygments-comment); } /* Comment.PreprocFile */
code .c1 { color: var(--color-pygments-comment); } /* Comment.Single */
code .cs { color: var(--color-pygments-comment); } /* Comment.Special */
code .gd { color: var(--color-pygments-error); } /* Generic.Deleted */
code .ge { font-style: italic; } /* Generic.Emph */
code .gh { color: var(--color-pygments-base); font-weight: bold; } /* Generic.Heading */
code .gi { color: var(--color-pygments-string); } /* Generic.Inserted */
code .gp { color: var(--color-pygments-comment); font-weight: bold; } /* Generic.Prompt */
code .gs { font-weight: bold; } /* Generic.Strong */
code .gu { color: var(--color-pygments-operator); font-weight: bold; } /* Generic.Subheading */
code .kc { color: var(--color-pygments-keyword); } /* Keyword.Constant */
code .kd { color: var(--color-pygments-keyword); } /* Keyword.Declaration */
code .kn { color: var(--color-pygments-operator); } /* Keyword.Namespace */
code .kp { color: var(--color-pygments-keyword); } /* Keyword.Pseudo */
code .kr { color: var(--color-pygments-keyword); } /* Keyword.Reserved */
code .kt { color: var(--color-pygments-type); } /* Keyword.Type */
code .ld { color: var(--color-pygments-string); } /* Literal.Date */
code .m { color: var(--color-pygments-literal); } /* Literal.Number */
code .s { color: var(--color-pygments-string); } /* Literal.String */
code .na { color: var(--color-pygments-member); } /* Name.Attribute */
code .nb { color: var(--color-pygments-base); } /* Name.Builtin */
code .nc { color: var(--color-pygments-type); } /* Name.Class */
code .no { color: var(--color-pygments-error); } /* Name.Constant */
code .nd { color: var(--color-pygments-operator); } /* Name.Decorator */
code .ni { color: var(--color-pygments-base); } /* Name.Entity */
code .ne { color: var(--color-pygments-error); } /* Name.Exception */
code .nf { color: var(--color-pygments-member); } /* Name.Function */
code .nl { color: var(--color-pygments-base); } /* Name.Label */
code .nn { color: var(--color-pygments-type); } /* Name.Namespace */
code .nx { color: var(--color-pygments-member); } /* Name.Other */
code .py { color: var(--color-pygments-base); } /* Name.Property */
code .nt { color: var(--color-pygments-operator); } /* Name.Tag */
code .nv { color: var(--color-pygments-error); } /* Name.Variable */
code .ow { color: var(--color-pygments-operator); } /* Operator.Word */
code .w { color: var(--color-pygments-base); } /* Text.Whitespace */
code .mb { color: var(--color-pygments-literal); } /* Literal.Number.Bin */
code .mf { color: var(--color-pygments-literal); } /* Literal.Number.Float */
code .mh { color: var(--color-pygments-literal); } /* Literal.Number.Hex */
code .mi { color: var(--color-pygments-literal); } /* Literal.Number.Integer */
code .mo { color: var(--color-pygments-literal); } /* Literal.Number.Oct */
code .sa { color: var(--color-pygments-string); } /* Literal.String.Affix */
code .sb { color: var(--color-pygments-string); } /* Literal.String.Backtick */
code .sc { color: var(--color-pygments-base); } /* Literal.String.Char */
code .dl { color: var(--color-pygments-string); } /* Literal.String.Delimiter */
code .sd { color: var(--color-pygments-comment); } /* Literal.String.Doc */
code .s2 { color: var(--color-pygments-string); } /* Literal.String.Double */
code .se { color: var(--color-pygments-literal); } /* Literal.String.Escape */
code .sh { color: var(--color-pygments-string); } /* Literal.String.Heredoc */
code .si { color: var(--color-pygments-literal); } /* Literal.String.Interpol */
code .sx { color: var(--color-pygments-string); } /* Literal.String.Other */
code .sr { color: var(--color-pygments-string); } /* Literal.String.Regex */
code .s1 { color: var(--color-pygments-string); } /* Literal.String.Single */
code .ss { color: var(--color-pygments-string); } /* Literal.String.Symbol */
code .bp { color: var(--color-pygments-base); } /* Name.Builtin.Pseudo */
code .fm { color: var(--color-pygments-member); } /* Name.Function.Magic */
code .vc { color: var(--color-pygments-error); } /* Name.Variable.Class */
code .vg { color: var(--color-pygments-error); } /* Name.Variable.Global */
code .vi { color: var(--color-pygments-error); } /* Name.Variable.Instance */
code .vm { color: var(--color-pygments-error); } /* Name.Variable.Magic */
code .il { color: var(--color-pygments-literal); } /* Literal.Number.Integer.Long */
