{% load wagtailroutablepage_tags %}

<div class="parallax_section margincollapsable"><div class="col_container alignleft"><div class="col8">
    <p class="faded sans_serif">
        <a href="{% routablepageurl post.get_parent.specific "posts_by_date" year=post.pub_date_norm.year month=post.pub_date_norm.month %}">{{ post.pub_date|date:"F j, Y" }}</a>
        {% if post.tags.count > 0 %}<br/>{% endif %}
        {% for tag in post.tags.all %}
            <a href="{% routablepageurl post.get_parent.specific "posts_by_tag" tag=tag.slug %}">#{{ tag }}</a>
        {% endfor %}
    </p>
</div></div></div>
